<div class="w-full p-3">
  <div>
    <div class="tabs">
      <div class="tab-list">
        <button
          (click)="onTabChange('tab1')"
          [ngClass]="{'bg-blue-400': activeTab === 'tab1'}"
          class="tab border border-gray-200 rounded-t px-4 py-2 bg-gray-100 text-gray-800 hover:bg-gray-200"
          id="tab1">
          Combat
        </button>
        <button
          (click)="onTabChange('tab2')"
          [ngClass]="{'bg-blue-400': activeTab === 'tab2'}"
          class="tab border border-gray-200 rounded-t px-4 py-2 bg-gray-100 text-gray-800 hover:bg-gray-200 ml-2"
          id="tab2">
          Loot
        </button>
      </div>
      <div class="tab-content p-4 border border-t-0 rounded-b">
        <div [hidden]="activeTab !== 'tab1'" id="content1"><app-combat></app-combat></div>
        <div [hidden]="activeTab !== 'tab2'" id="content2"><app-loot></app-loot></div>
      </div>
    </div>
  </div>
</div>
